<?xml version="1.0" encoding="UTF-8"?>
<system>

	<setting name="siteName" value="xuexiang" />
	<setting name="siteUrl" value="http://localhost" />
	<setting name="logo" value="/upload/image/logo.gif" />

	<setting name="isEmailLogin" value="true" />
	<setting name="captchaTypes" value="memberLogin,memberRegister,adminLogin,review,consultation,findPassword,resetPassword,other" />
	<setting name="accountLockTypes" value="member,admin" />
	<setting name="accountLockCount" value="5" />
	<setting name="accountLockTime" value="10" />
		
	<setting name="uploadMaxSize" value="10" />
	<setting name="uploadImageExtension" value="jpg,jpeg,bmp,gif,png" />
	<setting name="imageUploadPath" value="/upload/image/${.now?string('yyyyMM')}/" />
	
	
	<logConfig operation="系统设置" urlPattern="/admin/setting/update.jhtml" />
	<logConfig operation="添加管理员" urlPattern="/admin/admin/save.jhtml" />
	<logConfig operation="编辑管理员" urlPattern="/admin/admin/update.jhtml" />
	<logConfig operation="删除管理员" urlPattern="/admin/admin/delete.jhtml" />
	
	<template id="index" type="0" name="首页" templatePath="/bbs/index.ftl" staticPath="/index.html" />
	
</system>